### default ###
/*
!README.md
###############

#### items ####
# add projects
!project1/
!project2/

# add skeleton
!project1.tar.gz
!project2_skeleton.zip

###############

### default ###
racecar/
racecar-simulator/
###############

