### default ###
/*
!README.md
###############

#### items ####
# add projects
!project1/
!project2/
!project3/
!project4/
!final_project/

!hector_slam
!navigation-kinetic-devel

# add skeleton
# !project1.tar.gz
# !project2_skeleton.zip
# !project3_skeleton.zip
# !project4_skeleton.zip
# !final_project.zip

###############

### default ###
racecar/
racecar-simulator/
###############

